<!DOCTYPE HTML>
<html>



<head>
  <meta charset="UTF-8"/>

  <style type="text/css">
  	#sourceTA {
    display: block;
}
#targetDiv {
  border: 1px dashed #333333;
  width: 600px;
  height: 400px;
}



  </style>
</head>
<body>

  <textarea id="sourceTA" rows="10" cols="82"></textarea>
  <hr/>
  <button id="runBtn" onClick="run()">Convert</button>
  <hr/>
  <div id="targetDiv"></div>

<script type="text/javascript">
	

	function run() {
  var text = document.getElementById('sourceTA').value,
      target = document.getElementById('targetDiv'),
      converter = new showdown.Converter(),
      html = converter.makeHtml(text);
    
    target.innerHTML = html;
}
</script>
<script src="bower_components/showdown/1.0.1/showdown.min.js"></script><!-- 
<script src="js/script.js"></script> -->

</body>
</html>